/* comando para comentar 'ctrl + k + c' */

/* root sirve para guardar datos en variables */
:root{ 
    --color-white: #eee;
    --color-black: #1a1a1a;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: sans-serif;
}